* {
    box-sizing: border-box;
    
   
  }
  body {
      margin: 0;
      min-width: 250px;
      background-color: #0000;
      color: #f0f0f0;
      font-family: "Roboto", sans-serif;
      border: 2px #DAA520 solid;
      
  }
  .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
    
  }
  ul {
      margin: 0;
      padding: 0;
  }
  /* Style the list items */
  ul li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: transparent;
      font-size: 18px;
      transition: 0.2s;
      /* make the list items unselectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 2px #DAA520 solid;
  }
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: rgb(100, 7, 240);
    
  }
/* Darker background-color on hover */
ul li:hover {
    background: #DAA520;
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: rgba(200, 200, 200, 0.3);
    color: #fff;
    text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: rgba(130, 702, 205, 0.3);
    color: white;
}
/* Style the header */
.card__todo {
    margin: 5px;
    background-color: transparent;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border: 2px #DAA520 solid;
}
/* Clear floats after the header */
.card__todo:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
::placeholder {
    color: #ddd;
}
/* Style the "Add" button */
.btn__add {
    padding: 10px;
    width: 15%;
    background: #DAA520;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.btn__add:hover {
    background-color: rgba(200, 200, 200, 0.3);
}

#errorMessage{
    display: none; /* Oculta por padrão */
    color: #fff; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento */
    font-size: 30px; /* Tamanho da fonte */
    text-align: center;
       
    
    
}
#inputTodo{
    border: 2px #ffff solid;
}
#agenda{
    display: block; /* Garante que a imagem seja exibida como bloco */
    width: 100px; /* Define um tamanho fixo para a imagem */
    height: auto; /* Mantém a proporção */
    margin: 10px 0; /* Adiciona margem para separação */
    border: 2px #DAA520 solid;
}

@keyframes mover{
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translatey(15px);
    }
    50% {
        transform: translatey(15px);
    }
    
}

#agenda{
    animation: mover 2s ease-in-out infinite alternate;
}
